---

import Navbar from '../components/Navbar.astro';

const currentLang  = Astro.url.pathname.startsWith('/en') ? 'en' : 'el';

interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang={currentLang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Yandex.Metrika counter -->
		<script type="text/javascript">
			(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
			m[i].l=1*new Date();
			for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
			k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

			ym(98316449, "init", {
				clickmap:true,
				trackLinks:true,
				accurateTrackBounce:true,
				webvisor:true
			});
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/98316449" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->
	</head>
	<body>
		<Navbar currentLang={currentLang} />
		<slot />
	</body>
</html>
<script>
    if (typeof window !== 'undefined') {
    console.log(
        "%cMetro Thessaloniki Fan Site\n\n" +
        "%cVersion: %c1.0.0\n\n" +
        "%cTo report an issue, visit:\n%chttps://github.com/Egor-record/thessaloniki-metro/issues\n\n" +
        "%cFor communication: %cegor@siaskov.ru\n",
        "font-size: 16px; font-weight: bold; color: #2d85c4;", // Style for heading
        "font-size: 14px; color: #444;", // Style for general text
        "font-size: 14px; color: #ff7f50;", // Style for version
        "font-size: 14px; color: #444;", // Style for general text
        "font-size: 14px; color: #007acc;", // Style for URL
        "font-size: 14px; color: #444;", // Style for general text
        "font-size: 14px; color: #007acc;"  // Style for email
    );
}
</script>
<style>

	</style>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=Roboto&display=swap');
	:root {

	}
	@font-face {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
	}

	body {
		font-family: "Inter", sans-serif;
		margin: 0;
		background-color: #ebebef;
		color: #1C2930
	}

	h1, h2, h3 {
		font-family: "Roboto", sans-serif;
	}

</style>
